<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="@dynatrace/cordova-plugin"
    version="2.309.1">
    <name>Dynatrace</name>
    <description>Dynatrace RUM Plugin for Cordova and Capacitor</description>

    <!-- Cordova Hooks -->
    <hook type="after_plugin_add" src="scripts/Install.js"/>
    <hook type="before_plugin_install" src="scripts/Outsystems/npmInstall.js"/>
    <hook type="before_prepare" src="scripts/Outsystems/copyConfig.js"/>
    <hook type="before_plugin_uninstall" src="scripts/Uninstall.js"/>
	<hook type="after_prepare" src="scripts/Instrument.js"/>
	<hook type="after_build" src="scripts/CloseLog.js" />
	<hook type="after_run" src="scripts/CloseLog.js" />
    
    <!-- Capacitor Hooks (New) -->
    <hook type="capacitor:beforeSync" src="scripts/capacitor/CapacitorSync.js"/>
    <hook type="capacitor:afterSync" src="scripts/capacitor/CapacitorInstrument.js"/>
    <hook type="capacitor:afterBuild" src="scripts/capacitor/CapacitorClose.js"/>
    <hook type="capacitor:afterRun" src="scripts/capacitor/CapacitorClose.js"/>

    <js-module src="networking/NativeNetworkInterceptorUtils.js" name="native-network-interceptor-utils" />
    <js-module src="networking/MobileFirstNetworkInterceptor.js" name="mobile-first-network-interceptor" />
    <js-module src="other/DynatraceCordovaPlugin.js" name="dynatraceMobile">
        <clobbers target="dynatraceMobile"/>
    </js-module>
    <js-module src="other/IdentifyUserNative.js" name="identifyUserNative">
        <clobbers target="window.plugins.identifyUserNative" />
    </js-module>
	
    <!-- ios -->
    <platform name="ios">
        <framework src="libsqlite3.dylib" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libz.dylib" />
        <framework src="libc++.dylib" />
        <framework src="MessageUI.framework" />
        <framework src="WebKit.framework" />
        <framework src="files/iOS/Dynatrace.xcframework" custom="true" embed="true" />
        
        <config-file parent="/*" target="config.xml">
            <feature name="DynatraceCordovaPlugin">
                <param name="ios-package" value="DynatraceCordovaPlugin" />
            </feature>
        </config-file>
	
	    <header-file src="other/DynatraceCordovaPlugin.h"/>
        <source-file src="other/DynatraceCordovaPlugin.m"/>
    </platform>
	<platform name="android">
        <framework src="com.dynatrace.agent:agent-android:8.309.2.1011" />
		<source-file src="other/DynatraceCordovaPlugin.java" target-dir="src/com/dynatrace/cordova/plugin" />
	
		<config-file target="config.xml" parent="/*">
			<feature name="DynatraceCordovaPlugin">
				<param name="android-package" value="com.dynatrace.cordova.plugin.DynatraceCordovaPlugin" />
			</feature>
		</config-file>
	</platform>
	<platform name="windows">
	</platform>
</plugin>